// @import 'bootstrap';
@import 'font-awesome';

// $background-color: #FFFFFF;
// $text-color: #000000;
// $accent-color: #555555;
// $header-background-color: #555555;
// $header-text-color: #FFFFFF;
// $header-accent-color: #FFFFFF;
// $navbar-background-color: #000000;
// $navbar-text-color: #FFFFFF;
// $about-background-color: #000000;

$heading-font: "Montserrat";
$paragraph-font: "Roboto";

// $background-color: #1C3C40;
$background-color: #272C2D;
$text-color: white;
$link-color: white;
$link-hover-color: #18EDD9;
$heading-text-color: white;
// $link-color: #D79921;
$darker-text-color: #EBDBB2;
$accent-color: #18EDD9;
$accent2-color: #017C7F;
// $header-background-color: #689D6A;
// $header-background-color: #18697C;
$header-background-color: #017C7F;
$header-text-color: white;
// $header-text-color: #1D2021;
$header-accent-color: #458588;
// $navbar-background-color: #1D2021;
$navbar-background-color: #1A1D1E;
// $navbar-text-color: #EBDBB2;
$navbar-text-color: white;
// $about-background-color: #458588;
$about-background-color: #0A3D44;
// $about-background-color: #3C3836;
$portfolio-background-color: #3C3836;
$contact-background-color: #0A3D44;

p {
    font-family: $paragraph-font;
    font-weight: 400;
    font-size: 18px;
    // text-align: justify;
}
h1 {
    font-family: $heading-font;
    color: white;
}
h2 {
    font-family: $heading-font;
    font-weight: 700;
    font-size: 48px;
    color: $heading-text-color;
}
h3 {
    font-family: $heading-font;
    font-weight: 700;
    font-size: 32px;
    color: $heading-text-color;
}
hr.line-custom {
    padding: 0;
    border: none;
    border-top: solid 2px;
    text-align: center;
    margin: 25px auto 30px;
}
hr.line-header {
    @extend .line-custom;
    border-color: $header-accent-color;

}
hr.line-light {
    @extend .line-custom;
    border-color: $accent-color;
    // max-width: 250px;
    max-width: 250px;
}
hr.line-primary {
    @extend .line-custom;
    border-color: $accent-color;
    max-width: 100%;
}
hr.line-full {
    @extend .line-custom;
    border-color: $accent-color;
    max-width: 100%;
}
a {
    color: $link-color;
}
a:hover,
a:focus, 
a:active {
    color: $link-hover-color;
}
body {
  // font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  // overflow-x: hidden;
    color: $text-color;
    padding-top: 50px;
    background: $background-color;
}
header {
    text-align: center;
    background: $header-background-color;
    color: $header-text-color;

    .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    img {
        display: block;
        margin: 0 auto 20px;
    }
    .intro-text {
        .name {
            padding-bottom: 15px;
            display: block;
            font-family: $heading-font;//"Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 2em;
        }

        .skills {
            font-family: $paragraph-font;
            font-size: 1.25em;
            font-weight: 300;
        }
    }
}
@media (min-width: 768px) {
    header {
        .container {
            padding-top: 150px;
            padding-bottom: 100px;
        }
        .intro-text {
            .name {
                font-size: 3.75em;
            }
            .skills {
                font-size: 1.75em;
            }
        }
    }
}
.anchor {
    display: block;
    top: -50px;
    position: relative;
}
@media (min-width: 768px) {
    .anchor {
        top: -100px;
    }
}
.img-centered {
  margin: 0 auto;
}
section {
    padding-top: 50px;
    padding-bottom: 50px;
    h2 {
      margin: 0;
      // font-size: 3em;
    }
}
section.first {
    padding-top: 100px;
}
section.last {
    padding-top: 50px;
    padding-bottom: 0px;
}
section.about {
  background: $about-background-color;
}
section.contact {
  background: $contact-background-color;
}
@media (max-width: 767px) {
    section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    section.first {
        padding-top: 25px;
    }
    section.last {
        padding-top: 50px;
        padding-bottom: 0px;
    }
}
.section-heading {
    h2 {
        display: block;
        // font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        // font-weight: 700;
        // font-size: 2em;
    }
}
.about-link {
    display: block;
    height: 38px;
    line-height: 38px;
    font-family: $paragraph-font;
    opacity: .6;
    text-transform: uppercase;
    color: $text-color;

    span {
        display: inline-block;
        position: relative;
        font-size: 14px;
        padding-left: 14px;
        vertical-align: middle;
    }
    i {
        display: inline-block;
        position: relative;
        top: 4px;
    }
}
.about-link:hover,
.about-link:focus, 
.about-link:active {
    color: $link-hover-color;
    opacity: 1;
}
// .about-link:focus,
// .about-link:active {
// // .about-link:visited {
//     opacity: .6;
//     color: $text-color;
// }
@media (max-width: 767px) {
    .about-link {
    }
}
.portfolio-item {
    h3 {
        font-family: $heading-font;//, "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-align: center;
    }
    p {
        padding-bottom: 50px;
    }
    .portfolio-link {
        display: block;
        position: relative;
        max-width: 400px;
        height: 300px;
        margin: 0 auto;
        overflow: hidden;

        .caption {
            background-color: $portfolio-background-color;
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all ease 0.5s;
            -webkit-transition: all ease 0.5s;
            -moz-transition: all ease 0.5s;
            .caption-content {
                position: absolute;
                width: 100%;
                height: 20px;
                font-size: 20px;
                text-align: center;
                top: 50%;
                margin-top: -12px;
                color: white;
                i {
                    margin-top: -12px;
                    color: $accent2-color;
                }
                h3,
                h4 {
                    margin: 0;
                }
            }
        }
        .caption:hover {
            opacity: 1;
        }
        img {
            object-fit: cover;
            min-width: 100%;
            min-height: 100%;
        }
    }
    * {
        z-index: 2;
    }
}
@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}
.project-title {
    h2 {
    }
}
.project-description {
    // border-style: solid;
    // border-width: 1px;

    h3 {
        text-align: center;
    }
    p {
    }
}
.project-write-up {
    p {
    }
}
.carousel {
    // height: 530px;
    height: 300px;
    overflow: hidden;
    // padding-bottom: 30px;

    .item {
        height: 300px;
        overflow: hidden;
        background-color: #777;
    }
    img {
        object-fit: cover;
        min-height: 300px;
    }
    .carousel-indicators {
        // bottom: 0px;
    }
    .carousel-control.left {
        left: 15px;
    }
    .carousel-control.right {
        right: 15px;
    }
    .carousel-caption {
        z-index: 10;
    }
    // .carousel-control > .carousel-button {
    //     position: absolute;
    //     // width: 100%;
    //     // height: 20px;
    //     // font-size: 20px;
    //     top: 230px;
    //     // margin-top: -12px;
    //     // color: white;
    // }
}
@media (min-width: 768px) {
    .carousel {
        height: 500px;

        .item {
            height: 500px;
        }
        img {
            min-height: 500px;
        }
        /* Bump up size of carousel content */
        .carousel-caption p {
            margin-bottom: 20px;
            font-size: 21px;
            line-height: 1.4;
        }
    }
}
.webgl-frame {
}
.navbar-custom {
    background: $navbar-background-color;
    font-family: $heading-font;
    text-transform: uppercase;
    font-weight: 700;
    border: none;

    a:focus {
        outline: none;
    }
    .navbar-brand {
        color: $navbar-text-color;
    }
    .navbar-brand:hover,
    .navbar-brand:focus,
    .navbar-brand:active,
    .navbar-brand.active {
        color: $link-hover-color;
    }
    .navbar-nav {
        letter-spacing: 1px;
        li a {
            color: $navbar-text-color;
        }
        li a:hover {
            color: $link-hover-color;
            outline: none;
        }
        li a:focus,
        li a:active {
            color: $link-hover-color;
        }
        li.active a {
            color: $link-hover-color;
            background: $navbar-background-color;
        }
        li.active a:hover,
        li.active a:focus,
        li.active a:active {
            color: $link-hover-color;
            background: $navbar-background-color;
        }
    }
    .navbar-toggle {
        color: $navbar-text-color;
        text-transform: uppercase;
        font-size: 10px;
        border-color: white;
    }
    .navbar-toggle:hover,
    .navbar-toggle:focus {
        background-color: $navbar-background-color;
        color: $link-hover-color;
        border-color: $navbar-background-color;
    }
}

@media (min-width: 768px) {
    .navbar-custom {
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;

        .navbar-brand {
            font-size: 2em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
    }
    .navbar-custom.affix {
        padding: 10px 0;

        .navbar-brand {
            font-size: 1.5em;
        }
    }
}
footer {
    color: white;
}
footer h3 {
    margin-bottom: 30px;
}
footer .footer-above {
    padding-top: 50px;
    background-color: $contact-background-color;
}
footer .footer-col {
    margin-bottom: 50px;
}
footer .footer-below {
    padding: 25px 0;
    background-color: $accent2-color;
}
// .btn-outline {
//     color: white;
//     font-size: 20px;
//     border: solid 2px white;
//     background: transparent;
//     transition: all 0.3s ease-in-out;
//     margin-top: 15px;
// }
// .btn-outline:hover,
// .btn-outline:focus,
// .btn-outline:active,
// .btn-outline.active {
//     color: $link-hover-color;
//     background: white;
//     border: solid 2px white;
// }
.btn-primary {
    color: white;
    background-color: $accent2-color;
    border-radius: 0;
    border-color: $accent2-color;
    font-weight: 700;
    width: 100px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: white;
    background-color: $accent-color;
    border-color: #accent-color;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: $link-hover-color;
    border-color: $accent-color;
}
.btn-primary .badge {
    color: $accent-color;
    background-color: white;
}
// .btn-success {
//     color: white;
//     background-color: $navbar-background-color;
//     border-color: $navbar-background-color;
//     font-weight: 700;
// }
// .btn-success:hover,
// .btn-success:focus,
// .btn-success:active,
// .btn-success.active,
// .open .dropdown-toggle.btn-success {
//     color: white;
//     background-color: #128f76;
//     border-color: #11866f;
// }
// .btn-success:active,
// .btn-success.active,
// .open .dropdown-toggle.btn-success {
//     background-image: none;
// }
// .btn-success.disabled,
// .btn-success[disabled],
// fieldset[disabled] .btn-success,
// .btn-success.disabled:hover,
// .btn-success[disabled]:hover,
// fieldset[disabled] .btn-success:hover,
// .btn-success.disabled:focus,
// .btn-success[disabled]:focus,
// fieldset[disabled] .btn-success:focus,
// .btn-success.disabled:active,
// .btn-success[disabled]:active,
// fieldset[disabled] .btn-success:active,
// .btn-success.disabled.active,
// .btn-success[disabled].active,
// fieldset[disabled] .btn-success.active {
//     background-color: $navbar-background-color;
//     border-color: $navbar-background-color;
//     }
// .btn-success .badge {
//     color: $navbar-background-color;
//     background-color: white;
//     }
// .btn-social {
//     display: inline-block;
//     height: 50px;
//     width: 50px;
//     border: 2px solid white;
//     border-radius: 100%;
//     text-align: center;
//     font-size: 20px;
//     line-height: 45px;
// }
.btn:focus,
.btn:active,
.btn.active {
    outline: none;
    background-color: $link-hover-color;
}
.scroll-top {
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
    z-index: 1049;

    .btn {
        font-size: 20px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        line-height: 28px;
    }
    .btn:focus {
        outline: none;
    }
}
