// @import 'bootstrap';
@import 'font-awesome';

$text-color: #000000;
$accent-color: #555555;
$header-background-color: #555555;
$header-text-color: #FFFFFF;
$header-accent-color: #FFFFFF;
$navbar-background-color: #000000;
$navbar-text-color: #FFFFFF;

p {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
}
h2 {
    font-weight: 700;
    font-size: 48px;
}
h3 {
    font-weight: 700;
    font-size: 32px;
}
hr.line-custom {
    padding: 0;
    border: none;
    border-top: solid 1px;
    text-align: center;
    margin: 25px auto 30px;
}
hr.line-header {
    @extend .line-custom;
    border-color: $header-accent-color;
}
hr.line-light {
    @extend .line-custom;
    border-color: $accent-color;
    max-width: 250px;
}
hr.line-primary {
    @extend .line-custom;
    border-color: $accent-color;
    max-width: 500px;
}
body {
  // font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  // overflow-x: hidden;
    padding-top: 50px;
}
header {
    text-align: center;
    background: $header-background-color;
    color: $header-text-color;

    .container {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    img {
        display: block;
        margin: 0 auto 20px;
    }
    .intro-text {
        .name {
            display: block;
            font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 2em;
            color: $header-text-color;
        }

        .skills {
            font-size: 1.25em;
            font-weight: 300;
            color: $header-text-color;
        }
    }
}
@media (min-width: 768px) {
    header {
        .container {
            padding-top: 200px;
            padding-bottom: 100px;
        }
        .intro-text {
            .name {
                font-size: 4.75em;
            }
            .skills {
                font-size: 1.75em;
            }
        }
    }
}
.img-centered {
  margin: 0 auto;
}
section {
    padding-top: 100px;
    h2 {
      margin: 0;
      // font-size: 3em;
    }
}
section.success {
  background: $navbar-background-color;
  color: white;
}
@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}
.section-heading {
    h2 {
        display: block;
        // font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        // font-weight: 700;
        // font-size: 2em;
        // color: $header-text-color;
    }
}
.portfolio-item {
    h3 {
        font-family: "Montserrat";//, "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-align: center;
    }
    p {
        padding-bottom: 50px;
    }
    .portfolio-link {
        display: block;
        position: relative;
        max-width: 400px;
        margin: 0 auto;
        .caption {
            background: rgba(24, 188, 156, 0.9);
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all ease 0.5s;
            -webkit-transition: all ease 0.5s;
            -moz-transition: all ease 0.5s;
            .caption-content {
                position: absolute;
                width: 100%;
                height: 20px;
                font-size: 20px;
                text-align: center;
                top: 50%;
                margin-top: -12px;
                color: white;
                i {
                    margin-top: -12px;
                }
                h3,
                h4 {
                    margin: 0;
                }
            }
        }
        .caption:hover {
            opacity: 1;
        }
    }
    * {
        z-index: 2;
    }
}
@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}
.project-description {
    h3 {
        text-align: center;
    }
}
.project-title {
    h2 {
        transform: uppercase;
    }
    img {
    }
}
/* Carousel base class */
.carousel {
    // height: 500px;
    // margin-bottom: 60px;
    max-height: 500px;

    // /* Declare heights because of positioning of img element */
    // .item {
    //     height: 500px;
    //     background-color: #777;
    // }
    .item > img {
        max-height: 500px;
        display: block;
        margin: auto;
        // position: absolute;
        // top: 0;
        // left: 0;
        // min-width: 100%;
        // width: auto;
        // height: 500px;
    }
    // /* Since positioning the image, we need to help out the caption */
    // .carousel-caption {
    //     z-index: 10;
    // }
    // .carousel-control > .carousel-button {
    //     position: absolute;
    //     // width: 100%;
    //     // height: 20px;
    //     // font-size: 20px;
    //     top: 230px;
    //     // margin-top: -12px;
    //     // color: white;
    // }
}
@media (min-width: 768px) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}
.navbar-custom {
    background: $navbar-background-color;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none;

    a:focus {
        outline: none;
    }
    .navbar-brand {
        color: $navbar-text-color;
    }
    .navbar-brand:hover,
    .navbar-brand:focus,
    .navbar-brand:active,
    .navbar-brand.active {
        color: $navbar-text-color;
    }
    .navbar-nav {
        letter-spacing: 1px;
        li a {
            color: $navbar-text-color;
        }
        li a:hover {
            color: $navbar-text-color;
            outline: none;
        }
        li a:focus,
        li a:active {
            color: $navbar-text-color;
        }
        li.active a {
            color: $navbar-text-color;
            background: $navbar-background-color;
        }
        li.active a:hover,
        li.active a:focus,
        li.active a:active {
            color: $navbar-text-color;
            background: $navbar-background-color;
        }
    }
    .navbar-toggle {
        color: $navbar-text-color;
        text-transform: uppercase;
        font-size: 10px;
        border-color: white;
    }
    .navbar-toggle:hover,
    .navbar-toggle:focus {
        background-color: $navbar-background-color;
        color: $navbar-text-color;
        border-color: $navbar-background-color;
    }
}

@media (min-width: 768px) {
    .navbar-custom {
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;

        .navbar-brand {
            font-size: 2em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
    }
    .navbar-custom.affix {
        padding: 10px 0;

        .navbar-brand {
            font-size: 1.5em;
        }
    }
}

.btn-outline {
    color: white;
    font-size: 20px;
    border: solid 2px white;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: $navbar-background-color;
    background: white;
    border: solid 2px white;
}
.btn-primary {
    color: white;
    background-color: $accent-color;
    border-color: $accent-color;
    font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: white;
    background-color: #1a242f;
    border-color: #161f29;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: $accent-color;
    border-color: $accent-color;
}
.btn-primary .badge {
    color: $accent-color;
    background-color: white;
}
.btn-success {
    color: white;
    background-color: $navbar-background-color;
    border-color: $navbar-background-color;
    font-weight: 700;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    color: white;
    background-color: #128f76;
    border-color: #11866f;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: $navbar-background-color;
    border-color: $navbar-background-color;
    }
.btn-success .badge {
    color: $navbar-background-color;
    background-color: white;
    }
.btn-social {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}
.btn:focus,
.btn:active,
.btn.active {
    outline: none;
}
.scroll-top {
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
    z-index: 1049;

    .btn {
        font-size: 20px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        line-height: 28px;
    }
    .btn:focus {
        outline: none;
    }
}
